{%- extends "_base.html" -%}

{%- block content %}
<div class="card">
      <div class="row ">
        <div class="col-md-4">
            <img src="{{ product.image_url }}" class="w-100" alt="{{ product.name }}" />
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title"><small class="text-muted">{{product.category}}/</small> {{ product.name }}</h4>
              <h2 class="card-title">{{ product.price }} <small class="text-muted">₽</small></h2>
              <p class="card-text">{{ product.description }}</p>
            </div>
          </div>

        </div>
      </div>
{% endblock -%}